.locale-box {
    position: absolute;
    top: 20px;
    right: 20px;
}

.locale-box .btn {
    border-radius: 0;
}

#table thead tr th:last-child {
    width: 25%!important;
}

#table thead tr th:first-child {
    width: 1%!important;
}

.img-admin {
    height: 75px;
    width: 75px;
}

.img-admin-actions {
    margin-left: 10px;
}

.panel-toggle {
    cursor: pointer;
}

.social-auth-links {
    margin: 0;
}

.btn-google {
    background-color: #0266C8;
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active {
    background-color: #2081E0;
}

.form-group {
    position: relative;
}

.menu-items, .field-items {
    padding: 0;
}

.menu-items li, .field-items li {
    list-style-type: none;
    margin-top: 5px;
}

.menu-items .handle, .field-items .handle {
    cursor: move;
    margin-right: 10px;
}

.ui-sortable-placeholder {
    background-color: #fcf8e3;
    border: 1px dashed #bbbbbb;
    border-radius: 4px;
    height: 39px;
    margin: 5px 0;
    visibility: visible!important;
}

.ace_editor {
    border: 1px solid #ccc;
}

table.dataTable thead>tr>th.sorting_disabled,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_disabled,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 7px!important;
}